body {
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #121212;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    align-items: center;
    height: 90px;
    background-color: #f9efb8;
}

h1.logo {
    display: inline-block;
    color: #121212;
    text-decoration: none;
    padding: 0px 30px;
}

menu.menu a.menu_link {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: #C06463;
}

div#content {
    padding: 110px 60px;
    background-color: white;
}

div.popular_products {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

}
div.popular_product {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    width: 200px;
}

div.popular_product img {
    width: 200px;
    height: 200px;
}

footer {
    padding: 20px;
    border-top: 2px solid black;
    background-color: #f9efb8;
}

label {
    display: block;
    padding: 8px 0px;
}

input.submit {
    display: block;
    padding: 10px 30px;
    margin: 18px auto;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #777777;
    border-radius: 4px;
}

form.registration {
    margin: 0 auto;
    width: 400px;
}

input.basic_field {
    width: 100%;
    height: 35px;
    font-size: 24px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #2b2b2b;
}

input.basic_checkbox {
    width: 20px;
    height: 20px;
}

span.flash_success,
span.flash_error {
    color: white;
    display: block;
    width: 95%;
    padding: 12px 16px;
    margin: 20px 0px;
}

span.flash_success {
    background-color: #12A243;
    border: 2px solid #12AF12
}

span.flash_error  {
    background-color: #A21243;
    border: 2px solid #AF1212;
}

div.user_info {
    display: flex;
}

p.field_error {
    color: red;
    padding: 10px 2px;
}

img.profile_avatar {
    margin: 0px 40px 0px 0px;
}

a.settings {
    display: block;
    margin: 15px 0px;
    padding: 10px 20px;
    width: 200px;
    background-color: #0012A2;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

a.inline_settings {
    display: inline-block;
    padding: 7px 18px;
    margin: 0px 15px;
    background-color: #0012A2;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

input.left_field {
    width: 40%;
    height: 35px;
    font-size: 24px;
    border-radius: 4px;
    outline: none;
    border: 2px solid #2b2b2b;
}

input.left_submit {
    display: block;
    padding: 10px 30px;
    margin: 18px 0px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #777777;
    border-radius: 4px
}

a.warning {
    display: block;
    padding: 10px 20px;
    margin: 15px 0px;
    width: 200px;
    background-color: #AF1212;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

div.row {
    display: flex;
}

div.full_product {
    display: flex;
    padding: 10px;
    border: 1px solid black;
    margin: 10px 0px 10px 30px;
    width: 300px;
}

img.product_image {
    width: 200px;
    height: 200px;
}

div.product_info {
    padding: 0px 10px;
}

form.sort {
    padding: 10px 20px;
}

div.nav_pages a {
    color: #0012A2;
    cursor: pointer;
}

div.nav_pages {
    text-align: center;
}

div.product_page_main {
    display: flex;
    padding: 10px 25px;
}

img.big_image {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 6px;
}

div.image_selecter {
    padding: 0px 40px 0px 0px;
}


div.rating {
    font-size: 28px;
    color: #F2B422;
    padding: 15px 0px;
}

span.rating_star {
    cursor: pointer;
}

div.menu {
    display: flex;
    justify-content: space-between;
}

div.left_column {
    width: 250px;
    box-shadow: 2px 2px 4px black;
}

div.social_icons img {
    width: 100px;
}


div.post {
    width: 800px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
}

div.post img {
    width: 100%;
}

div.blog {
    display: flex;
}