<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" xml:lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
    <!--[if lt IE 9]> 
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Aleš Trunda alestrunda.cz">
    <meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">    
    
    <link rel="icon" href="icon.png" type="image/png">

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Icon-Font -->
    <link rel="stylesheet" href="static/font-awesome/font-awesome/css/font-awesome.min.css" type="text/css">
    <!--[if IE 7]>
    	<link rel="stylesheet" href="static/font-awesome/font-awesome/css/font-awesome-ie7.min.css" type="text/css">
    <![endif]-->
    
    <!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600italic,700%7CMontserrat:400,700%7CLato' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/owl-carousel/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="static/masterslider/style/masterslider.css" type="text/css">
    <link rel="stylesheet" href="static/masterslider/skins/default/style.css" type="text/css">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    
    <script type="text/javascript" src="static/js/modernizr.js"></script>
    
	<title>Bakery - About</title>
</head>

<body>
	<div id="all">
        <header class="page-header">
            <div class="page-header-content container">
                <div class="menu-button-container">
                    <i id="menu-button" class="menu-button fa fa-reorder"></i>
                </div>
                <nav id="nav-top" class="nav-top">
                    <ul>
                        <li><a href="./">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="menus.html">Menu</a></li>
                    </ul>
                    <h1 class="logo-primary"><img alt="Bakery" src="static/images/logo.png"></h1>
                    <div class="logo-secondary"><img alt="Bakery" src="static/images/logo_secondary.png"></div>
                    <ul>
                        <li><a href="shop.html">Features</a>
                        	<ul>
                            	<li><a href="gallery_single.html">Gallery Single</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="http://themeforest.net/item/bakery-cakery-bakery-html5-template/9835281">Buy The Theme</a></li>
                            </ul>
                        </li>
                        <li><a href="blog_sidebar.html">Blog</a>
                        	<ul>
                            	<li><a href="blog_single.html">Blog Single Post</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section class="top-section">
        	<div class="offset-borders">
                <div class="full-header-container" id="header-about">
                    <div class="full-header">
                        <div class="container">
                            <h1>About</h1>
                            <h3>What is our company worth for</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<section id="quote-section">            
            <div class="container">
               	<div class="quote">
                   	We work all the time with our customers and together we are able to create beautifull and amazing things that surely brings positive results and complete satisfaction.
                </div>
            </div>
      	</section>
        
        <section id="about-section">
        	<div class="section-content">
                <div class="container">
                    <header class="section-header">
                        <h1>About Bakery &amp; cakery</h1>
                        <p>See our big range of departaments, whe offer a lot of attention to our patients<br>
                        see what fits you and give us a call</p>
                    </header>
                    
                    <div class="row">
                    	<div class="col-md-6 onscroll-animate">
                        	<img class="img-responsive" alt="cup and logo" src="static/images/cup_and_logo.png">
                        </div>
                        <div class="col-md-6 onscroll-animate" data-delay="400">
                        	<article>
                            	<div class="article-header-2">
                        			<h1>The Story Of Our Success</h1>
                        		</div>
                                <p>
                                	Just thirty days after my advent upon Barsoom we entered the ancient city of Thark, from whose long-forgotten people this horde of green men have stolen even their name. The hordes of Thark number some thirty thousand souls, and are divided into twenty-five communities. Each community has its own jed and lesser chieftains, but all are under the rule of Tal Hajus, Jeddak of Thark. 
								</p>
                                
                                <div class="margin-20"></div>
                                
                                <p>
									We made our entry into the great central plaza early in the afternoon. There were no enthusiastic friendly greetings for the returned expedition. Those who chanced to be in sight spoke the names of warriors or women with whom they came in direct contact, in the formal greeting of their kind.
                               	</p>
                            </article>
                            
                            <div class="margin-20"></div>
                            
                            <div class="row">
                            	<div class="col-xs-6">
                                	<div class="item-check">100% Responsive</div>
                               		<div class="item-check">RETINA READY ICONS</div>
                                </div>
                                <div class="col-xs-6">
                                	<div class="item-check">BOXED AND WIDE VERSION</div>
                                	<div class="item-check">NICE DOCUMENTATION</div>
                                </div>
                            </div>
                            <div class="margin-70"></div>
                        </div>
                    </div>
              	</div>
          	</div>
      	</section>
        
        <section id="video-section" class="section-white-cover parallax-background">
            <div class="section-content">
                <div class="container onscroll-animate">
                	<div class="margin-40"></div>
                    <h2 class="heading-huge">Video presentation</h2>
                    <div class="margin-20"></div>
                    <div class="embed-responsive embed-responsive-4by3">
 						<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/OhtG_XahQco"></iframe>
					</div>
                    <div class="margin-30"></div>
                </div><!-- .container -->
            </div><!-- .section-content -->
        </section>
        
        <section id="team-section">
            <div class="section-content">
                <div class="container">
                    <header class="section-header onscroll-animate">
                        <h1>Team Members</h1>
                        <p>Main core of our company is our team see the best people we have</p>
                    </header>
                    <div class="row"> 
                        <div class="col-md-3 onscroll-animate">
                            <div class="profile">
                                <div class="profile-box">
                                    <div class="profile-photo">
                                        <img alt="profile photo 1" src="static/images/profile1.png">
                                        <div class="profile-photo-info">
                                            <div class="profile-photo-info-container">
                                                <div class="profile-photo-info-content">
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Ch. <span class="text-uppercase">Morgan Dutch</span></h3>
                                </div><!-- .profile-box -->
                                <div class="profile-info">
                                    <p>Whether the flitting attendance of the one still and solitary jet had gradually worked upon Ahab.</p>
                                </div>
                            </div><!-- .profile -->
                            <div class="margin-40"></div>
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 onscroll-animate" data-delay="300">
                            <div class="profile">
                                <div class="profile-box">
                                    <div class="profile-photo">
                                        <img alt="profile photo 2" src="static/images/profile2.png">
                                        <div class="profile-photo-info">
                                            <div class="profile-photo-info-container">
                                                <div class="profile-photo-info-content">
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>Ass. <span class="text-uppercase">Mikkie Rurk</span></h3>
                                </div><!-- .profile-box -->
                                <div class="profile-info">
                                    <p>Whether the flitting attendance of the one still and solitary jet had gradually worked upon Ahab.</p>
                                </div>
                            </div><!-- .profile -->
                            <div class="margin-40"></div>
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 onscroll-animate" data-delay="400">
                            <div class="profile">
                                <div class="profile-box">
                                    <div class="profile-photo">
                                        <img alt="profile photo 3" src="static/images/profile3.png">
                                        <div class="profile-photo-info">
                                            <div class="profile-photo-info-container">
                                                <div class="profile-photo-info-content">
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><span class="text-uppercase">Brandon Razer</span></h3>
                                </div><!-- .profile-box -->
                                <div class="profile-info">
                                    <p>Whether the flitting attendance of the one still and solitary jet had gradually worked upon Ahab.</p>
                                </div>
                            </div><!-- .profile -->
                            <div class="margin-40"></div>
                        </div><!-- .col-md-3 -->
                        <div class="col-md-3 onscroll-animate" data-delay="500">
                            <div class="profile">
                                <div class="profile-box">
                                    <div class="profile-photo">
                                        <img alt="profile photo 4" src="static/images/profile4.png">
                                        <div class="profile-photo-info">
                                            <div class="profile-photo-info-container">
                                                <div class="profile-photo-info-content">
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-facebook"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-twitter"></i></a></div>
                                                    <div class="profile-icon"><a href="#"><i class="fa fa-google-plus"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3><span class="text-uppercase">Lindsie Rob</span></h3>
                                </div><!-- .profile-box -->
                                <div class="profile-info">
                                    <p>Whether the flitting attendance of the one still and solitary jet had gradually worked upon Ahab.</p>
                                </div>
                            </div><!-- .profile -->
                            <div class="margin-40"></div>
                        </div><!-- .col-md-3 -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .section-content -->
        </section>

        <section id="testimonials-section" class="section-dark section-color-cover parallax-background">
            <div class="section-content onscroll-animate">
                <div id="testimonials-slider" class="testimonials-slider">
                    <div class="container">
                        <div class="testimonial centered-columns">
                            <div class="centered-column testimonial-avatar-wrapper">
                                <div class="testimonial-avatar-container">
                                    <div class="testimonial-avatar">
                                        <img alt="avatar 1" src="static/images/avatar1.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-name">Charles M. Schulz</div>
                            <div class="centered-column">
                                <div class="testimonial-content">
                                    “All you need is love. But a little chocolate now and then doesn't hurt.”
                                </div>
                            </div>
                        </div><!-- .testimonial -->
                    </div><!-- .container -->
                    <div class="container">
                        <div class="testimonial centered-columns">
                            <div class="centered-column testimonial-avatar-wrapper">
                                <div class="testimonial-avatar-container">
                                    <div class="testimonial-avatar">
                                        <img alt="avatar 2" src="static/images/avatar2.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-name">Brandon Razer</div>
                            <div class="centered-column">
                                <div class="testimonial-content">
                                    “All you need is love. But a little chocolate now and then doesn't hurt.”
                                </div>
                            </div>
                        </div><!-- .testimonial -->
                    </div><!-- .container -->
                    <div class="container">
                        <div class="testimonial centered-columns">
                            <div class="centered-column testimonial-avatar-wrapper">
                                <div class="testimonial-avatar-container">
                                    <div class="testimonial-avatar">
                                        <img alt="avatar 1" src="static/images/avatar1.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-name">Charles M. Schulz</div>
                            <div class="centered-column">
                                <div class="testimonial-content">
                                    “All you need is love. But a little chocolate now and then doesn't hurt.”
                                </div>
                            </div>
                        </div><!-- .testimonial -->
                    </div><!-- .container -->
                </div><!-- .testimonials-slider -->
            </div><!-- .section-content -->
        </section>
           
        <footer class="page-footer">
            <div class="footer-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 slim-right onscroll-animate">
                            <h4>About</h4>
                            <p>Bakery is a PSD Template with great options and a lot of features. But it may possibly be conceived that, in the internal parts of the whale, in his anatomy there, at least, we shall be able to hit.</p>
                            <div class="margin-50"></div>
                        </div>
                        <div class="col-md-2 image-container">
                            <img alt="logo" src="static/images/logo2.png">
                            <div class="margin-50"></div>
                        </div>
                        <div class="col-md-5 slim-left onscroll-animate" data-delay="400">
                            <h4>Newsletter</h4>
                            <p>Give us your email, and we shall send regular updates for new stuff and events.</p>
                            <form class="form-subscribe" id="rss-subscribe" action="save_rss.php" method="post" data-email-not-set-msg="Email must be set" data-ajax-fail-msg="Ajax could not set the request" data-success-msg="Email successfully added">
                                <div class="email-container">
                                    <input type="text" name="email">
                                </div>
                                <div class="submit-container">
                                    <input type="submit" value="Subscribe">
                                </div>
                                <p class="return-msg"></p>
                            </form>
                            <div class="margin-50"></div>
                        </div>
                    </div>
                </div>
            </div><!-- .footer-light -->
            
            <div class="footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 footer-column onscroll-animate">
                                    <h4>Working Time</h4>
                                    <p>
                                        Monday Friday: <span class="highlight">08:00 am - 08:30 pm</span><br>
                                        Saturday Sunday: <span class="highlight">10:00 am - 16:30 pm</span>
                                    </p>
                                    <div class="margin-40"></div>
                                </div>
                                <div class="col-sm-6 footer-column onscroll-animate" data-delay="300">
                                    <h4>Happy Hours</h4>
                                    <p>
                                        Join us for Happy Hour!<br>
                                        Enjoy discount baked goods.<br>
                                        <span class="highlight">8:00 pm-5:00 pm Daily</span>
                                    </p>
                                    <div class="margin-40"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 footer-column onscroll-animate" data-delay="400">
                                    <h4>Follow Us</h4>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-rss"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                    <div class="margin-40"></div>
                                </div>
                                <div class="col-sm-6 footer-column onscroll-animate" data-delay="500">
                                    <h4>Contact Us</h4>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-phone"></i></p>
                                            <p class="icon-opening-content">0 800 123 456 88</p>
                                        </div>
                                    </div>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-location-arrow"></i></p>
                                            <p class="icon-opening-content">257 Charlington Gates<br>
                                            Road Morrison, Nr. 568</p>
                                        </div>
                                    </div>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-envelope"></i></p>
                                            <p class="icon-opening-content">info@bakeytemplate.com</p>
                                        </div>
                                    </div>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-globe"></i></p>
                                            <p class="icon-opening-content">www.bakeytemplate.com</p>
                                        </div>
                                    </div>
                                    <div class="margin-40"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <p class="site-info">2014 All rights reserved, Powered by IgnitionThemes</p>
                </div>
            </div><!-- .footer-darl -->
        </footer>
    </div>
    
	<script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="static/masterslider/masterslider.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="static/js/placeholder-fallback.js"></script>
    <script type="text/javascript" src="static/js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="static/js/custom.js"></script>
</body>
</html>
