<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" xml:lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
    <!--[if lt IE 9]> 
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Aleš Trunda alestrunda.cz">
    <meta name="robots" content="index, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">    
    
    <link rel="icon" href="icon.png" type="image/png">

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Icon-Font -->
    <link rel="stylesheet" href="static/font-awesome/font-awesome/css/font-awesome.min.css" type="text/css">
    <!--[if IE 7]>
    	<link rel="stylesheet" href="static/font-awesome/font-awesome/css/font-awesome-ie7.min.css" type="text/css">
    <![endif]-->
    
    <!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600italic,700%7CMontserrat:400,700%7CLato' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/owl-carousel/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="static/masterslider/style/masterslider.css" type="text/css">
    <link rel="stylesheet" href="static/masterslider/skins/default/style.css" type="text/css">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">
    
    <script type="text/javascript" src="static/js/modernizr.js"></script>
    
	<title>Bakery</title>
</head>

<body>
	<div id="all">
        <header class="page-header">
            <div class="page-header-content container">
                <div class="menu-button-container">
                    <i id="menu-button" class="menu-button fa fa-reorder"></i>
                </div>
                <nav id="nav-top" class="nav-top">
                    <ul>
                        <li><a href="./">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="menus.html">Menu</a></li>
                    </ul>
                    <h1 class="logo-primary"><img alt="Bakery" src="static/images/logo.png"></h1>
                    <div class="logo-secondary"><img alt="Bakery" src="static/images/logo_secondary.png"></div>
                    <ul>
                        <li><a href="shop.html">Features</a>
                        	<ul>
                            	<li><a href="gallery_single.html">Gallery Single</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="http://themeforest.net/item/bakery-cakery-bakery-html5-template/9835281">Buy The Theme</a></li>
                            </ul>
                        </li>
                        <li><a href="blog_sidebar.html">Blog</a>
                        	<ul>
                            	<li><a href="blog_single.html">Blog Single Post</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section class="top-section">
        	<div class="offset-borders">
                <div class="full-header-container" id="header-blog">
                    <div class="full-header">
                        <div class="container">
                            <h1>Blog with sidebar</h1>
                            <h3>Here you will find our blog pages</h3>
                        </div>
                    </div>
                </div>
            </div>
    	</section>
            
       	<section id="blog-section">
            <div class="container">
            	<div class="sidebar col-md-3">
                	<article class="onscroll-animate">
                    	<div class="article-header-small">
                        	<h1>About our store</h1>
                        </div>
                        <div class="sidebar-img">
                          	<img alt="sidebar img" src="static/images/sidebar_img1.png">
                        </div>
                        <p class="text-center">Hello mi nombre is Dick Harper<br>
                        	I am the owner of the Bakery Shop<br>
							I love to read and write<br>
							so follow me.
                        </p>
                    </article>
                    <hr>
                    
                    <article class="onscroll-animate">
                    	<div class="article-header-small">
                        	<h1>BANNER 270x250px</h1>
                        </div>
                        <img alt="banner" class="img-responsive banner" src="static/images/banner.jpg">
                    </article>
                    <hr>
                    
                    <article class="onscroll-animate">
                    	<div class="article-header-small">
                        	<h1>Categories</h1>
                        </div>
                        
                        <ul class="list-values">
                            <li>
                        		<a href="#">
                                    <article>
                                        <div class="list-values-content">Photography</div>
                                        <div class="list-values-value">(2)</div>
                                    </article>
                            	</a>
                            </li>
                            <li>
                            	<a href="#">
                                	<article>
                                    	<div class="list-values-content">Movies</div>
                                    	<div class="list-values-value">(9)</div>
                                  	</article>
                            	</a>
                            </li>
                            
                           	<li>
                            	<a href="#">
                                	<article>
                                        <div class="list-values-content">Life Style</div>
                                        <div class="list-values-value">(12)</div>
                                    </article>
                                </a>
                            </li>
                            
                            <li>
                            	<a href="#">
                                	<article>
                                        <div class="list-values-content">Quotes</div>
                                        <div class="list-values-value">(15)</div>
                            		</article>
                                </a>
                            </li>
                            
                         	<li>
                            	<a href="#">
                                	<article>
                                        <div class="list-values-content">Web Development</div>
                                        <div class="list-values-value">(6)</div>
                                	</article>
                                </a>
                         	</li>
                            <li>
                            	<a href="#">
                                	<article>
                                        <div class="list-values-content">Envato</div>
                                        <div class="list-values-value">(31)</div>
                            		</article>
                                </a>
                            </li>
                        </ul>
                  	</article>
                    <hr>
                    
                    <article class="onscroll-animate">
                    	<div class="article-header-small">
                        	<h1>Twitter Feeds</h1>
                        </div>
                        <div id="feed-post-slider" class="feed-post-slider">
                            <div class="feed-post">
                                <div class="feed-post-img">
                                    <img alt="feed post avatar" src="static/images/feed_post_avatar.jpg">
                                </div>
                                RT <a href="#">@DesignerDepot:</a> Discover the
                                Future of Web Design, in London this
                                April <a href="#">http://t.co/0ql5uSlQwh</a>
                            </div>
                            <div class="feed-post">
                                <div class="feed-post-img">
                                    <img alt="feed post avatar" src="static/images/feed_post_avatar.jpg">
                                </div>
                                RT <a href="#">@DesignerDepot:</a> Discover the
                                Future of Web Design, in London this
                                April <a href="#">http://t.co/0ql5uSlQwh</a>
                            </div>
                            <div class="feed-post">
                                <div class="feed-post-img">
                                    <img alt="feed post avatar" src="static/images/feed_post_avatar.jpg">
                                </div>
                                RT <a href="#">@DesignerDepot:</a> Discover the
                                Future of Web Design, in London this
                                April <a href="#">http://t.co/0ql5uSlQwh</a>
                            </div>
                        </div>
                    </article>
                    <hr>
                    
                    <article>
                    	<div class="article-header-small">
                        	<h1>RECENT POSTS</h1>
                        </div>
                        <div class="blog-post-small onscroll-animate">
                        	<div class="blog-post-small-img">
                            	<a href="blog_single.html"><img alt="img1" src="static/images/recent_posts_1.jpg"></a>
                                <div class="blog-post-small-img-cover"></div>
                            	<div class="blog-post-small-info">
                                	<div class="blog-post-small-info-content">
                                		15 July, 2014
                                    </div>
                                </div>
                            </div>
                            <h4><a href="blog_single.html">App that it looks Great</a></h4>
                            <p>We do what is best for our clients, in order to get full satisfaction and perfection. Our primary goal is to make thing work.</p>
                        </div>
                        <div class="blog-post-small onscroll-animate">
                        	<div class="blog-post-small-img">
                            	<a href="blog_single.html"><img alt="img2" src="static/images/recent_posts_2.jpg"></a>
                                <div class="blog-post-small-img-cover"></div>
                            	<div class="blog-post-small-info">
                                	<div class="blog-post-small-info-content">
                                		15 July, 2014
                                    </div>
                                </div>
                            </div>
                            <h4><a href="blog_single.html">App that it looks Great</a></h4>
                            <p>We do what is best for our clients, in order to get full satisfaction and perfection. Our primary goal is to make thing work.</p>
                        </div>
                    </article>
                    <hr>
                    
                    <article class="onscroll-animate">
                    	<div class="article-header-small">
                        	<h1>POPULAR POSTS</h1>
                        </div>
                        <div class="post-preview">
                          	<div class="post-preview-image">
                                <a href="#">
                                    <img alt="img1" src="static/images/recent_post_1.jpg">
                                </a>
                          	</div>
                            
                            <div class="post-preview-info">
                            	<a href="#">App that it looks Great</a>
                            	<div class="post-preview-detail">
                                	by <a href="#">Roman Justado</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-preview">
                        	<div class="post-preview-image">
                            	<a href="#">
                            		<img alt="img2" src="static/images/recent_post_2.jpg">
                            	</a>
                            </div>
                            <div class="post-preview-info">
                                <a href="#">Ham Sandwiches</a>
                                <div class="post-preview-detail">
                                    by <a href="#">Amris</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-preview">
                        	<div class="post-preview-image">
                            	<a href="#">
                            		<img alt="img3" src="static/images/recent_post_3.jpg">
                            	</a>
                            </div>
                            <div class="post-preview-info">
                            	<a href="#">Lighter Match</a>
                            	<div class="post-preview-detail">
                                	by <a href="#">Asher</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <hr>
                    
                    <article class="onscroll-animate">
                    	<div class="article-header-small">
                        	<h1>SOCIALIZE</h1>
                        </div>
                        <div class="text-center">
                            <div class="social-icon-container-alt-big">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div>
                            <div class="social-icon-container-alt-big">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="social-icon-container-alt-big">
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                            <div class="social-icon-container-alt-big">
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </article>
                </div><!-- .sidebar -->
                <div class="col-md-9">
                	<article class="onscroll-animate">
                    	<div class="blog-post">
                        	<div class="blog-post-header">
                    			<h1>CROISSANTS THAT COMBINES WITH COFFEE</h1>
                                <div class="blog-post-info">
                                	by: <a href="#">admin</a> <span class="delimiter-inline">|</span> on <a href="#">24.04.2014</a> <span class="delimiter-inline">|</span> <a href="#">23 Comments</a>
                                </div>
                            </div>
                            <div class="blog-post-preview">
                                <div id="blog-post-images-slider" class="blog-post-images-slider">
                                    <img alt="post img" src="static/images/blog_post_1.jpg">
                                    <img alt="post img" src="static/images/blog_post_2.jpg">
                                    <img alt="post img" src="static/images/blog_post_1.jpg">
                                </div>
                            </div>
                        
                        	<p>But the placing of the cap-sheaf to all this blundering business was reserved for the scientific Frederick Cuvier, brother to the famous Baron. In 1836, he published a Natural History of Whales, in which he gives what he calls a picture of the Sperm Whale. Before showing that picture to any Nantucketer, you had best provide for your summary retreat from Nantucket. In a word, Frederick Cuvier's Sperm Whale is not a Sperm Whale, but a squash.</p>
							<p><em>Of course, he never had the benefit of a whaling voyage (such men seldom have), but whence he derived that picture, who can tell? Perhaps he got it as his scientific predecessor in the same field.</em></p>
							<p>Desmarest, got one of his authentic abortions; that is, from a Chinese drawing. And what sort of lively lads with the pencil those Chinese are, many queer cups and saucers inform us.</p>
                    		
                            <div class="blog-post-footer">
                            	<div class="socials">
                                	Share:
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-rss"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            	<a class="read-more-link" href="blog_single.html">Read more</a>
                            </div>
                        </div>
                	</article>
                    <article class="onscroll-animate">
                    	<div class="blog-post">
                        	<div class="blog-post-header">
                    			<h1>HOW TO BAKE IN A PROPER WAY</h1>
                                <div class="blog-post-info">
                                	by: <a href="#">admin</a> <span class="delimiter-inline">|</span> on <a href="#">24.04.2014</a> <span class="delimiter-inline">|</span> <a href="#">23 Comments</a>
                                </div>
                            </div>
                            <a href="#">
                                <div class="blog-post-preview">
                                	<div class="blog-post-image">
                                        <img alt="post img" src="static/images/blog_post_2.jpg">
                                        <div class="blog-post-image-cover"></div>
                                    </div>
                                </div>
                            </a>
                        
                        	<p>But the placing of the cap-sheaf to all this blundering business was reserved for the scientific Frederick Cuvier, brother to the famous Baron. In 1836, he published a Natural History of Whales, in which he gives what he calls a picture of the Sperm Whale. Before showing that picture to any Nantucketer, you had best provide for your summary retreat from Nantucket. In a word, Frederick Cuvier's Sperm Whale is not a Sperm Whale, but a squash.</p>
                    		
                            <div class="blog-post-footer">
                            	<div class="socials">
                                	Share:
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-rss"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            	<a class="read-more-link" href="blog_single.html">Read more</a>
                            </div>
                        </div>
                	</article>
                	<article class="onscroll-animate">
                    	<div class="blog-post">
                        	<div class="blog-post-header">
                    			<h1>PLAIN TEXT WITH NO PHOTO POST</h1>
                                <div class="blog-post-info">
                                	by: <a href="#">admin</a> <span class="delimiter-inline">|</span> on <a href="#">24.04.2014</a> <span class="delimiter-inline">|</span> <a href="#">23 Comments</a>
                                </div>
                            </div>
                        
                        	<p>But the placing of the cap-sheaf to all this blundering business was reserved for the scientific Frederick Cuvier, brother to the famous Baron. In 1836, he published a Natural History of Whales, in which he gives what he calls a picture of the Sperm Whale. Before showing that picture to any Nantucketer, you had best provide for your summary retreat from Nantucket. In a word, Frederick Cuvier's Sperm Whale is not a Sperm Whale, but a squash.</p>
							<p><em>Of course, he never had the benefit of a whaling voyage (such men seldom have), but whence he derived that picture, who can tell? Perhaps he got it as his scientific predecessor in the same field.</em></p>
							<p>Desmarest, got one of his authentic abortions; that is, from a Chinese drawing. And what sort of lively lads with the pencil those Chinese are, many queer cups and saucers inform us.</p>
                    		
                            <div class="blog-post-footer">
                            	<div class="socials">
                                	Share:
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-rss"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            	<a class="read-more-link" href="blog_single.html">Read more</a>
                            </div>
                        </div>
                	</article>
                	<article class="onscroll-animate">
                    	<div class="blog-post">
                        	<div class="blog-post-header">
                    			<h1>BAKE YOUR OWN CROISSANTS</h1>
                                <div class="blog-post-info">
                                	by: <a href="#">admin</a> <span class="delimiter-inline">|</span> on <a href="#">24.04.2014</a> <span class="delimiter-inline">|</span> <a href="#">23 Comments</a>
                                </div>
                            </div>
                            <div class="blog-post-preview">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/OhtG_XahQco"></iframe>
                                </div>
                            </div>
                        
                        	<p>But the placing of the cap-sheaf to all this blundering business was reserved for the scientific Frederick Cuvier, brother to the famous Baron. In 1836, he published a Natural History of Whales, in which he gives what he calls a picture of the Sperm Whale. Before showing that picture to any Nantucketer, you had best provide for your summary retreat from Nantucket. In a word, Frederick Cuvier's Sperm Whale is not a Sperm Whale, but a squash.</p>
                    		
                            <div class="blog-post-footer">
                            	<div class="socials">
                                	Share:
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-rss"></i></a>
                                    </div>
                                    <div class="social-icon-container-alt-small">
                                    	<a href="#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            	<a class="read-more-link" href="blog_single.html">Read more</a>
                            </div>
                        </div>
                	</article>
                    
                    <div class="text-center">
                        <div class="pagination">
                            <a href="#"><div class="pagination-item pagination-nav">prev</div></a>
                            <a href="#"><div class="pagination-item">1</div></a>
                            <a href="#"><div class="pagination-item">2</div></a>
                            <a href="#"><div class="pagination-item">3</div></a>
                            <a href="#"><div class="pagination-item active">4</div></a>
                            <a href="#"><div class="pagination-item">5</div></a>
                            <a href="#"><div class="pagination-item pagination-nav">next</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
           
        <footer class="page-footer">
            <div class="footer-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 slim-right onscroll-animate">
                            <h4>About</h4>
                            <p>Bakery is a PSD Template with great options and a lot of features. But it may possibly be conceived that, in the internal parts of the whale, in his anatomy there, at least, we shall be able to hit.</p>
                            <div class="margin-50"></div>
                        </div>
                        <div class="col-md-2 image-container">
                            <img alt="logo" src="static/images/logo2.png">
                            <div class="margin-50"></div>
                        </div>
                        <div class="col-md-5 slim-left onscroll-animate" data-delay="400">
                            <h4>Newsletter</h4>
                            <p>Give us your email, and we shall send regular updates for new stuff and events.</p>
                            <form class="form-subscribe" id="rss-subscribe" action="save_rss.php" method="post" data-email-not-set-msg="Email must be set" data-ajax-fail-msg="Ajax could not set the request" data-success-msg="Email successfully added">
                                <div class="email-container">
                                    <input type="text" name="email">
                                </div>
                                <div class="submit-container">
                                    <input type="submit" value="Subscribe">
                                </div>
                                <p class="return-msg"></p>
                            </form>
                            <div class="margin-50"></div>
                        </div>
                    </div>
                </div>
            </div><!-- .footer-light -->
            
            <div class="footer-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 footer-column onscroll-animate">
                                    <h4>Working Time</h4>
                                    <p>
                                        Monday Friday: <span class="highlight">08:00 am - 08:30 pm</span><br>
                                        Saturday Sunday: <span class="highlight">10:00 am - 16:30 pm</span>
                                    </p>
                                    <div class="margin-40"></div>
                                </div>
                                <div class="col-sm-6 footer-column onscroll-animate" data-delay="300">
                                    <h4>Happy Hours</h4>
                                    <p>
                                        Join us for Happy Hour!<br>
                                        Enjoy discount baked goods.<br>
                                        <span class="highlight">8:00 pm-5:00 pm Daily</span>
                                    </p>
                                    <div class="margin-40"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 footer-column onscroll-animate" data-delay="400">
                                    <h4>Follow Us</h4>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-rss"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                    <div class="social-icon-container">
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                    <div class="margin-40"></div>
                                </div>
                                <div class="col-sm-6 footer-column onscroll-animate" data-delay="500">
                                    <h4>Contact Us</h4>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-phone"></i></p>
                                            <p class="icon-opening-content">0 800 123 456 88</p>
                                        </div>
                                    </div>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-location-arrow"></i></p>
                                            <p class="icon-opening-content">257 Charlington Gates<br>
                                            Road Morrison, Nr. 568</p>
                                        </div>
                                    </div>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-envelope"></i></p>
                                            <p class="icon-opening-content">info@bakeytemplate.com</p>
                                        </div>
                                    </div>
                                    <div class="icon-opening-wrapper">
                                        <div class="icon-opening-container">
                                            <p class="icon-opening"><i class="fa fa-globe"></i></p>
                                            <p class="icon-opening-content">www.bakeytemplate.com</p>
                                        </div>
                                    </div>
                                    <div class="margin-40"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <p class="site-info">2014 All rights reserved, Powered by IgnitionThemes</p>
                </div>
            </div><!-- .footer-darl -->
        </footer>
    </div>
    
	<script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="static/masterslider/masterslider.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="static/js/placeholder-fallback.js"></script>
    <script type="text/javascript" src="static/js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="static/js/custom.js"></script>
</body>
</html>
