<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bakery Confirmation</title>
</head>
<body>
    <h1>Confirm your bakery account</h1>
    <p>Hello {{name}}! You wanted to change email on the site <a href="https://carlsbad-backery.com/">carlsbad-backery.com</a>. 
        To complete change, you need to confirm your email. 
        To do this, follow the link: <a href="http://localhost:5000/confirm/change-email/{{key}}">confirm</a>.
        If you have not done so, please ignore this letter.</p>
</body>
</html>