{% extends 'base.html' %}
{% block content %}
{{ super() }}

<h1>Contact us</h1>
<p>We are on these social networks: </p>
<div class="social_icons">
    <a target="_blank" href="https://vk.com/"><img src="/static/images/vk.svg" alt="VK"></a>
    <a target="_blank" href="https://instagram.com"><img src="/static/images/inst.svg" alt="Instagram"></a>
    <a target="_blank" href="https://facebook.com/"><img src="/static/images/fb.svg" alt="Facebook"></a>
    <a target="_blank" href="https://github.com/"><img src="/static/images/github.svg" alt="Github"></a>
    <a target="_blank" href="https://pinterest.com/"><img src="/static/images/pinterest.svg" alt="Pinterest"></a>
    <a target="_blank" href="https://tiktok.com/"><img src="/static/images/tiktok.svg" alt="Tiktok"></a>
</div>
<a href="mailto:zubkovbackend@gmail.com" class="settings">Contact us with email</a>
<p>+1(234) 567-89-10</p>
<p>zubkovbackend@gmail.com</p>


{% endblock %}


