{% extends 'base.html' %}
{{ super() }}
{% block content %}
<h1>Fresh baked goods</h1>
<p>We bake three times a days.</p>
<h1>No.1 bakery in Carlsbad</h1>
<p>Made bakery for you with love.</p>
<h1>These are our most popular products:</h1>
<div class="popular_products">
    {% for pr in products[:4] %}
        <div class="popular_product">
            <img src="{{pr.image_url}}" alt="Product">
            <h3>{{pr.name}} / {{pr.price}}</h3>
        </div>
    {% endfor %}

</div>
<div class="popular_products">
    {% for pr in products[4:8] %}
        <div class="popular_product">
            <img src="{{pr.image_url}}" alt="Product">
            <h3>{{pr.name}} / {{pr.price}}</h3>
        </div>
    {% endfor %}

</div>
{% endblock content %}


