{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h1>Your profile</h1>
<div class="user_info">
    <img src="/static/images/avatar.png" alt="Avatar" class="profile_avatar">
    <div>
        <p class="user_info"><b>Name: </b>{{user.first_name + ' ' + user.last_name}}</p>
        <p class="user_info"><b>Email: </b>{{user.email}}</p>
        {% if user.address %}
            <p class="user_info"><b>Address: </b>{{user.address}}</p>
        {% else %}
            <p class="user_info"><b>Address: </b>Not specified</p>
        {% endif %}
            <p class="user_info"><b>Reviews: </b>{{reviews_count}}</p>
        <a href="/profile/settings" class="settings">Settings</a>
        <a href="/profile/signout" class="warning">Sign out</a>
    </div>
</div>
<div class="orders">
    <h2>Orders</h2>
    <hr>
    {% for order in user.orders %}
            <h4>{{ order.product.name }}</h4>
            <p>{{ order.created_at }}</p>
            <p>{{ order.wishes }}</p>
            <p>Status: <b>{{order.status}}</b></p>
            <hr>
    {% endfor %}
    
</div>

{% endblock %}


